body {
  background-color: #ffcccc;
}

.navbar {
  justify-content: center;
background-color: blue;
}

<style>
body {margin:0}

.icon-bar {
  width: 145px;
  length: 90px;
  background-color: #ffffff;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: blue;
  font-size: 28px;
  font-family: "Pacifico";

}

.icon-bar a:hover {
  background-color: purple;
}



#Home {
background-color: red;
}
</style>
